<div class="row justify-content-center">
  <div class="border col-11 col-md-7">
    <div class="detail-header row justify-content-between border-bottom">
      <div class="col-4">
        <a [routerLink]="['/']">
          <h6 class="card-title">Contacts</h6>
        </a>
      </div>
      <div class="col-2">
        <img
          *ngIf="indyContact?.isFavorite"
          class="star"
          src="../../../assets/fav-true.png"
          alt="star"
          (click)="toggleBool()"
        />
        <img
          *ngIf="!indyContact?.isFavorite"
          class="star"
          src="../../../assets/fav-!true.png"
          alt="star"
          (click)="toggleBool()"
        />
      </div>
    </div>
    <div *ngIf="indyContact?.name" class="row no-gutters justify-content-center">
      <div class="col-11 py-2">
        <div class="row no-gutters justify-content-center my-2">
          <img
            alt="{{ indyContact?.name || '../../../assets/user-large.png' }}"
            class="detail-image"
            [src]="indyContact?.largeImageURL"
            onerror="src='../../../assets/user-large.png'"
          />
          {{indyContact.name}}
        </div>
        <div class="row no-gutters justify-content-center">
          <h5>
            {{ indyContact?.name }}
          </h5>
        </div>
        <div class="row no-gutters justify-content-center">
          <p *ngIf="indyContact?.companyName" class="detail-text">
            {{ indyContact?.companyName }}
          </p>
        </div>
      </div>
      <div class="col-11 line"></div>
    </div>
    <div
      *ngIf="indyContact?.phone.home"
      class="row no-gutters justify-content-center"
    >
      <div class="col-11 py-2">
        <div class="cell-title row no-gutters">
          <p>PHONE:</p>
        </div>
        <div class="row no-gutters">
          <div class="col">
            <p class="detail-text">
              {{ indyContact?.phone.home }}
            </p>
          </div>
          <div class="cell-label col text-right">
            <p>Home</p>
          </div>
        </div>
      </div>
      <div class="col-11 line"></div>
    </div>
    <div
      *ngIf="indyContact?.phone.mobile"
      class="row no-gutters justify-content-center"
    >
      <div class="col-11 py-2">
        <div class="cell-title row no-gutters">
          <p>PHONE:</p>
        </div>
        <div class="row no-gutters">
          <div class="col">
            <p class="detail-text">
              {{ indyContact?.phone.mobile }}
            </p>
          </div>
          <div class="cell-label col text-right">
            <p>Mobile</p>
          </div>
        </div>
      </div>
      <div class="col-11 line"></div>
    </div>
    <div
      *ngIf="indyContact?.phone.work"
      class="row no-gutters justify-content-center"
    >
      <div class="col-11 py-2">
        <div class="cell-title row no-gutters">
          <p>PHONE:</p>
        </div>
        <div class="row no-gutters">
          <div class="col">
            <p class="detail-text">
              {{ indyContact?.phone.work }}
            </p>
          </div>
          <div class="cell-label col text-right">
            <p>Work</p>
          </div>
        </div>
      </div>
      <div class="col-11 line"></div>
    </div>
    <div class="row no-gutters justify-content-center">
      <div class="col-11 py-2">
        <div class="cell-title row no-gutters">
          <p>ADDRESS:</p>
        </div>
        <div class="row no-gutters">
          <p *ngIf="indyContact?.address" class="detail-text">
            {{ indyContact?.address.street }}
          </p>
        </div>
        <div class="row no-gutters">
          <p *ngIf="indyContact?.address" class="detail-text">
            {{ indyContact?.address.city }} {{ indyContact?.address.state }},
            {{ indyContact?.address.zipCode }}
          </p>
        </div>
      </div>
      <div class="col-11 line"></div>
    </div>
    <div
      *ngIf="indyContact?.birthdate"
      class="row no-gutters justify-content-center"
    >
      <div class="col-11 py-2">
        <div class="cell-title row no-gutters">
          <p>ADDRESS:</p>
        </div>
        <div class="row no-gutters">
          <p class="detail-text">
            {{ indyContact?.birthdate | date: 'longDate' }}
          </p>
        </div>
      </div>
      <div class="col-11 line"></div>
    </div>
    <div
      *ngIf="indyContact?.emailAddress"
      class="row no-gutters justify-content-center"
    >
      <div class="col-11 py-2">
        <div class="cell-title row no-gutters">
          <p>ADDRESS:</p>
        </div>
        <div class="row no-gutters">
          <p class="detail-text">
            {{ indyContact?.emailAddress }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
